


ul, a {
    list-style: none;
    text-decoration: none;

}

.logo {
    margin-left: 50px;
    margin-top: 30px;
}

body{
    background: $bg-gradient;
}

/* -------------------- Articulos destacados ------------------ */

    .Buscar-Articulos{
        font-family: $fontPrimary;
        font-weight: 1000;
        font-style: lighter;
        color: $primaryColor;
        text-align: center;
    
    }
    
